/* ensure a star selector doesn't break things */
*:not(button):not(div) {
  box-sizing: border-box;
}

.btn-override {
  font-size: 18px;
  padding: 17px 20px;
}

/* test all selectors
  taken from http://www.w3schools.com/cssref/, just run this code on the site:

    css = [];
    elms = document.querySelectorAll('.reference tr td:first-child');
    for (var i = 0; i < elms.length; i++) {
      css.push(elms[i].textContent + ': inherit');
    }
    css.join(';\n');
*/
body {
  color: inherit;
  opacity: inherit;
  background: inherit;
  background-attachment: inherit;
  background-color: inherit;
  background-image: inherit;
  background-position: inherit;
  background-repeat: inherit;
  background-clip: inherit;
  background-origin: inherit;
  background-size: inherit;
  border: inherit;
  border-bottom: inherit;
  border-bottom-color: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  border-bottom-style: inherit;
  border-bottom-width: inherit;
  border-color: inherit;
  -o-border-image: inherit;
     border-image: inherit;
  border-image-outset: inherit;
  border-image-repeat: inherit;
  border-image-slice: inherit;
  border-image-source: inherit;
  border-image-width: inherit;
  border-left: inherit;
  border-left-color: inherit;
  border-left-style: inherit;
  border-left-width: inherit;
  border-radius: inherit;
  border-right: inherit;
  border-right-color: inherit;
  border-right-style: inherit;
  border-right-width: inherit;
  border-style: inherit;
  border-top: inherit;
  border-top-color: inherit;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-top-style: inherit;
  border-top-width: inherit;
  border-width: inherit;
  -webkit-box-decoration-break: inherit;
          box-decoration-break: inherit;
  box-shadow: inherit;
  bottom: inherit;
  clear: inherit;
  clip: inherit;
  display: inherit;
  float: inherit;
  height: inherit;
  left: inherit;
  overflow: inherit;
  overflow-x: inherit;
  overflow-y: inherit;
  padding: inherit;
  padding-bottom: inherit;
  padding-left: inherit;
  padding-right: inherit;
  padding-top: inherit;
  position: inherit;
  right: inherit;
  top: inherit;
  visibility: inherit;
  width: inherit;
  vertical-align: inherit;
  z-index: inherit;
  -ms-flex-line-pack: inherit;
      align-content: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -ms-flex-item-align: inherit;
      align-self: inherit;
  display: inherit;
  -webkit-box-flex: inherit;
      -ms-flex: inherit;
          flex: inherit;
  -ms-flex-preferred-size: inherit;
      flex-basis: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  -ms-flex-flow: inherit;
      flex-flow: inherit;
  -webkit-box-flex: inherit;
  -webkit-flex-grow: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  -ms-flex-negative: inherit;
      flex-shrink: inherit;
  -ms-flex-wrap: inherit;
      flex-wrap: inherit;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  margin: inherit;
  margin-bottom: inherit;
  margin-left: inherit;
  margin-right: inherit;
  margin-top: inherit;
  max-height: inherit;
  max-width: inherit;
  min-height: inherit;
  min-width: inherit;
  -webkit-box-ordinal-group: NaN;
      -ms-flex-order: inherit;
          order: inherit;
  hanging-punctuation: inherit;
  -webkit-hyphens: inherit;
     -moz-hyphens: inherit;
      -ms-hyphens: inherit;
          hyphens: inherit;
  letter-spacing: inherit;
  line-break: inherit;
  line-height: inherit;
  overflow-wrap: inherit;
  -moz-tab-size: inherit;
    -o-tab-size: inherit;
       tab-size: inherit;
  text-align: inherit;
  -moz-text-align-last: inherit;
       text-align-last: inherit;
  text-combine-upright: inherit;
  text-indent: inherit;
  text-justify: inherit;
  text-transform: inherit;
  white-space: inherit;
  word-break: inherit;
  word-spacing: inherit;
  word-wrap: inherit;
  text-decoration: inherit;
  -moz-text-decoration-color: inherit;
       -webkit-text-decoration-color: inherit;
          text-decoration-color: inherit;
  -moz-text-decoration-line: inherit;
       -webkit-text-decoration-line: inherit;
          text-decoration-line: inherit;
  -webkit-text-decoration-style: inherit;
     -moz-text-decoration-style: inherit;
          text-decoration-style: inherit;
  text-shadow: inherit;
  text-underline-position: inherit;
  font: inherit;
  font-family: inherit;
  -webkit-font-feature-settings: inherit;
     -moz-font-feature-settings: inherit;
          font-feature-settings: inherit;
  -webkit-font-kerning: inherit;
     -moz-font-kerning: inherit;
          font-kerning: inherit;
  -webkit-font-language-override: inherit;
     -moz-font-language-override: inherit;
          font-language-override: inherit;
  font-size: inherit;
  font-size-adjust: inherit;
  font-stretch: inherit;
  font-style: inherit;
  font-synthesis: inherit;
  font-variant: inherit;
  font-variant-alternates: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  -webkit-font-variant-ligatures: inherit;
     -moz-font-variant-ligatures: inherit;
          font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-variant-position: inherit;
  font-weight: inherit;
  direction: inherit;
  text-orientation: inherit;
  text-combine-upright: inherit;
  unicode-bidi: inherit;
  writing-mode: inherit;
  border-collapse: inherit;
  border-spacing: inherit;
  caption-side: inherit;
  empty-cells: inherit;
  table-layout: inherit;
  counter-increment: inherit;
  counter-reset: inherit;
  list-style: inherit;
  list-style-image: inherit;
  list-style-position: inherit;
  list-style-type: inherit;
  -webkit-animation: inherit;
          animation: inherit;
  -webkit-animation-delay: inherit;
          animation-delay: inherit;
  -webkit-animation-direction: inherit;
          animation-direction: inherit;
  -webkit-animation-duration: inherit;
          animation-duration: inherit;
  -webkit-animation-fill-mode: inherit;
          animation-fill-mode: inherit;
  -webkit-animation-iteration-count: inherit;
          animation-iteration-count: inherit;
  -webkit-animation-name: inherit;
          animation-name: inherit;
  -webkit-animation-play-state: inherit;
          animation-play-state: inherit;
  -webkit-animation-timing-function: inherit;
          animation-timing-function: inherit;
  -webkit-backface-visibility: inherit;
          backface-visibility: inherit;
  -webkit-perspective: inherit;
          perspective: inherit;
  -webkit-perspective-origin: inherit;
          perspective-origin: inherit;
  -webkit-transform: inherit;
          transform: inherit;
  -webkit-transform-origin: inherit;
          transform-origin: inherit;
  -webkit-transform-style: inherit;
          transform-style: inherit;
  -webkit-transition: inherit;
          transition: inherit;
  -webkit-transition-property: inherit;
          transition-property: inherit;
  -webkit-transition-duration: inherit;
          transition-duration: inherit;
  -webkit-transition-timing-function: inherit;
          transition-timing-function: inherit;
  -webkit-transition-delay: inherit;
          transition-delay: inherit;
  box-sizing: inherit;
  content: inherit;
  cursor: inherit;
  ime-mode: inherit;
  nav-down: inherit;
  nav-index: inherit;
  nav-left: inherit;
  nav-right: inherit;
  nav-up: inherit;
  outline: inherit;
  outline-color: inherit;
  outline-offset: inherit;
  outline-style: inherit;
  outline-width: inherit;
  resize: inherit;
  text-overflow: inherit;
  -webkit-break-after: inherit;
     -moz-break-after: inherit;
          break-after: inherit;
  -webkit-break-before: inherit;
     -moz-break-before: inherit;
          break-before: inherit;
  -webkit-column-break-inside: inherit;
     page-break-inside: inherit;
          break-inside: inherit;
  -webkit-column-count: inherit;
     -moz-column-count: inherit;
          column-count: inherit;
  -webkit-column-fill: inherit;
     -moz-column-fill: inherit;
          column-fill: inherit;
  -webkit-column-gap: inherit;
     -moz-column-gap: inherit;
          column-gap: inherit;
  -webkit-column-rule: inherit;
     -moz-column-rule: inherit;
          column-rule: inherit;
  -webkit-column-rule-color: inherit;
     -moz-column-rule-color: inherit;
          column-rule-color: inherit;
  -webkit-column-rule-style: inherit;
     -moz-column-rule-style: inherit;
          column-rule-style: inherit;
  -webkit-column-rule-width: inherit;
     -moz-column-rule-width: inherit;
          column-rule-width: inherit;
  -webkit-column-span: inherit;
     -moz-column-span: inherit;
          column-span: inherit;
  -webkit-column-width: inherit;
     -moz-column-width: inherit;
          column-width: inherit;
  -webkit-columns: inherit;
     -moz-columns: inherit;
          columns: inherit;
  widows: inherit;
  orphans: inherit;
  page-break-after: inherit;
  page-break-before: inherit;
  page-break-inside: inherit;
  marks: inherit;
  quotes: inherit;
  -webkit-filter: inherit;
          filter: inherit;
  image-orientation: inherit;
  image-rendering: inherit;
  image-resolution: inherit;
  -o-object-fit: inherit;
     object-fit: inherit;
  -o-object-position: inherit;
     object-position: inherit;
  -webkit-mask: inherit;
          mask: inherit;
  mask-type: inherit;
  mark: inherit;
  mark-after: inherit;
  mark-before: inherit;
  phonemes: inherit;
  rest: inherit;
  rest-after: inherit;
  rest-before: inherit;
  voice-balance: inherit;
  voice-duration: inherit;
  voice-pitch: inherit;
  voice-pitch-range: inherit;
  voice-rate: inherit;
  voice-stress: inherit;
  voice-volume: inherit;
  marquee-direction: inherit;
  marquee-play-count: inherit;
  marquee-speed: inherit;
  marquee-style: inherit
}